.confirmation-page-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .details-container {
    text-align: left;
    margin-top: 20px;
  }
  
  .details-container p {
    margin: 10px 0;
  }
  
  .details-container strong {
    color: #333;
  }

  
.confirmation-header {
  position: relative;
  text-align: center;
  color: white;
  margin-top: -1.4rem;
  min-height: 70vh;
}

.confirmation-image {
  height: 70vh; /* height of container */
  width: 100%;
  object-fit: cover;
}

.redirect-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12vw;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.redirect-button {
  background-color: #355E3B;
  color: white !important;
  padding: 2vh 2rem 2vh 2rem;
  border-radius: 0.5rem;
  min-width: 12vw;
  font-family: "Karla";
  font-size: 18px;
}

.redirect-button:hover {
  background-color: #FFD23F;
  color: #355E3B !important;
  transition: 0.2s;
}