/* src/components/MenuItem.css */
.menu-item {
    border: 5px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    
  }
  
  .menu-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .menu-item p {
    margin: 5px 0;
  }

  .menu-item img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .price {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .add-to-cart-button {
    background-color: #FFD23F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: #ff4500;
  }