/* src/components/Menu.css */
.ordermenu {
  padding: 2rem 5rem 0 5rem;
  }
  
  .menu-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vw;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  