/* ABOUT */

.hero-text-page > h1 {
  font-size: 4rem;
  margin-bottom: -3rem;
}

.hero-text-page > h2 {
  font-size: 3rem;
  font-weight: bold;
}

.about-page {
  background-color: #FFD23F;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 5rem 2.5rem 5rem;
  min-height: 22rem;
  margin-bottom: -1rem;
  margin-top: -1rem;;
  grid-gap: 25vw;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-name: slideDownFade;
}

.about-subtext-page {
  margin-top: -2rem;
  font-weight: bold;
  text-align: justify;
  position: relative;
  top: 1rem;
  left: 0rem;
}
.image-page {
  max-height: 25rem;
  position: relative;
  top: 1rem;
  left: -5rem;
}

.image-page > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}